.card {
    margin-top: 3rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .form-group {
    margin-top: 1.5rem;
  }
  
  .btn-primary {
    margin-top: 1.5rem;
  }
  